header {
    margin: 20px 0px 0px 0px;
    text-align: center;
    height: 30px;
    order: 0;
}

.logo {
    font-family: 'Akira Expanded';
    color: darkred;
}

.header-inner {
    align-items: center;
    justify-content: space-between;
}