
.main-inner {
    background-image: url(../images/mainpic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    text-align: center;
    margin-bottom: 70px;
}

.main-inner-first {
    padding-top: 312px;
    font-family: 'Akira Expanded', sans-serif;
    color: black;
}

h3 {
    font-family: 'Akira Expanded', sans-serif;
    font-size: 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 2;
    max-width: 60%;
    align-content: center;
}

article{

}

.text {
    font-family: 'Montserrat';
    font-size: 14px;
    word-wrap: break-word; /* Ensures long wor
        
    word-wrap: break-word; /* Ensures long words wrap to the next line */
    ds wrap to the next line */ margin: 0 auto; /* Centers the text block horizontally */
    margin-bottom: 70px;
}

.tite {
    font-family: 'Akira Expanded', sans-serif;
    font-size: 36px;
    color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

/*ABOUT*/
.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 42px;
}

.about-item{
    width: 30%;
    color: white;
    margin: 42px;
}

.pic img {
    width: 250px;
    height: auto;
}


li {
list-style: none;
}
input[type="radio"] {
display: none;
}


/*GALLERY*/
.js-slider {
position: relative;
width: 80%;
height: 100vh;
margin: 0 auto;
}

.js-slider_item {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
padding: 1rem 3rem;
opacity: 0;
visibility: hidden;
transform-origin: right center;
transform: translate3d(0%, 0%, 0) rotateY(30deg) scaleX(0.95);
transition: all 1s ease,transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
}
#s-1:checked ~ .js-slider .js-slider_item.img-1,
#s-2:checked ~ .js-slider .js-slider_item.img-2,
#s-3:checked ~ .js-slider .js-slider_item.img-3 {
opacity: 1;
visibility: visible;
transform-origin: left center;
transform: translate3d(0, 0, 0) rotateY(0deg) scaleX(1);
}
.js-slider_img {
align-items: center;
width: 100%;
height: 60%;
position: relative;
overflow: hidden;
}
.c-img-h-full {
align-items: center;
justify-content: center;
position: absolute;
top: 50%;
left: 45%;
width: auto;
height: 300px;
transform: translate3d(-50%, -50%, 0);
}
figcaption {
display: block;
}
.wo-h3 {
margin-top: 6rem;
margin-bottom: 2rem;
padding-bottom: 2rem;
border-bottom: 3px solid darkred;
}
.c-label {
display: flex;
justify-content: center;
color: #eee;
background-color: darkred;
line-height: 1;
padding: 0.5em 0.9em;
margin-right: 0.5em;
font-size: 1.4rem;
font-weight: bold;
}

.wo-credit{
    font-family: 'Montserrat';
    font-size: 14px;
}
.view-sm {
display: none;
}

.js-slider{
}

.js-slider_nav {
position: absolute;
left: 0;
top: 50%;
width: 100%;
transform: translate3d(0, -50%, 0);
}

.js-slider_nav_item.prev {
left: 0;
}
.js-slider_nav_item.next {
right: 0;
transform: rotateY(180deg);
}
.js-slider_nav_item {
position: absolute;
display: none;
width: 4rem;
height: 4rem;
border: 1px solid darkred;
border-radius: 50%;
cursor: pointer;
transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.js-slider_nav_item:before {
content: "";
display: block;
position: absolute;
left: 1rem;
top: 55%;
width: 1rem;
height: 1px;
background-color: darkred;
transform-origin: left bottom;
transform: translate3d(0, -50%, 0) rotate(-45deg);
transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.js-slider_nav_item:hover {
    transform: translate3d(-30%, 0, 0);
}
.js-slider_nav_item.next:hover {
    transform: rotateY(180deg) translate3d(-30%, 0, 0);
}
.js-slider_nav_item:hover:before {
transform: translate3d(0, -50%, 0) rotate(-30deg);
}
.js-slider_nav_item:after {
content: "";
position: absolute;
top: 55%;
left: 50%;
width: 2rem;
height: 1px;
background-color: darkred;
transform: translate3d(-50%, -50%, 0);
}
#s-1:checked ~ .js-slider .js-slider_nav .s-nav-1,
#s-2:checked ~ .js-slider .js-slider_nav .s-nav-2,
#s-3:checked ~ .js-slider .js-slider_nav .s-nav-3 {
display: block;
}
.js-slider_indicator {
position: absolute;
left: 0;
top: 63%;
width: 100%;
text-align: center;
}
.js-slider-indi {
position: relative;
display: inline-block;
padding: 2rem;
cursor: pointer;
}
.js-slider-indi:after {
content: "";
position: absolute;
top: 50%;
left: 50%;
width: 1rem;
height: 1rem;
border-radius: 1rem;
background: darkred;
transform: translate3d(-50%, -50%, 0);
}
.js-slider-indi:hover:after {
transform: translate3d(-50%, -50%, 0) scale(1.5);
transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
#s-1:checked ~ .js-slider .js-slider_indicator .indi-1:after,
#s-2:checked ~ .js-slider .js-slider_indicator .indi-2:after,
#s-3:checked ~ .js-slider .js-slider_indicator .indi-3:after {
transform: translate3d(-50%, -50%, 0) scale(2.5);
}

/*TRACK LIST*/
.track-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;

    background-color: darkred;
}

.track-tite{
    font-family: 'Akira Expanded', sans-serif;
    font-size: 36px;
    color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    text-decoration: none;
}

.playlist{
  list-style: none;
  margin-left: 1em;
  counter-reset: line;
}

.playlist > li {
  position: relative;
  margin-bottom: 1.5em;
}

.playlist > li:before {
  position: absolute;
  left: -2.25em;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 0.5em;
  background-color: black;
  border-radius: 50%;
  color: #fff;
  text-align:center;
  line-height: 1.25em;
  counter-increment: line;
  content: counter(line);

}

.music{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.links{
  border: darkred 2px;
}

/*LOCATION*/
.map{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
margin-bottom: 100px;
}

/*CONTACT US*/
.contacts{
height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
width: 200px:
padding: 80px 60px 100x;
background: darkred;
}

.data-block{
display: flex;
justify-content: scale-between;
flex-wrap: wrap;
row-gap: 40px;
margin-top: 55px;
}

input{
background: transparent;
height: 40px;
border: none;
border-bottom: 1px solid white;
padding-left: 20px;

font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-weight: bold;
color: white;
}

input::placeholder{
font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-weight: bold;
color: white;
}

input:focus::placeholder{
color: gray;
}

input:focus{
outline: none;
}

#name{
width: 100%;
}

#email{
width: 50%;
}

#phone{
width: 50%;
}

.text-area{
margin-top: 65px;
border: 1px, solid black;
padding: 20px, 25px;
display: flex;
flex-direction: column;
}

@media (max-width: 768px) {
    .text {
        font-size: 12px; /* Smaller font size for smaller screens */
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .text {
        font-size: 14px; /* Default font size */
    }
}

@media (min-width: 1201px) {
    .text {
        font-size: 16px; /* Larger font size for larger screens */
    }
}
