nav {
    width: auto; /* ширина */
    height: 150px;
    margin-left: 20px; /* отступ слева */
    flex-grow: 1;
}

nav ul {
    margin: auto;
    position: relative;
  
    justify-content: center;
}

nav ul li {
    padding-bottom: 24px;
}

.list-menu a {
    text-decoration: none;
    font-family: 'Akira Expanded', sans-serif;
    color: #fff;
    font-size: 18px;
    color: white;
    position: relative;
    max-width: 15%;
}

.list-menu a::after {
    content: "";
    position: absolute;
    background-color: darkred;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: width 0.5s ease-in-out;
}

.list-menu a:hover::after {
    width: 100%;
}

.button-header {
    font-family: 'Akira Expanded', sans-serif;
    color: darkred;
    text-decoration: none;
}
