nav {
    float: left;
    order: 2;
}

nav ul {
    height: 60px;
    margin: auto;
    align-items:flex-start;
    position: relative;
    row-gap: 40px;
}

a {
    text-decoration: none;
    font-family: 'Akira Expanded', sans-serif;
    color: #fff;
    font-size: 18px;
    position: relative;
}

    a::after {
        content: "";
        position: absolute;
        background-color: darkred;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: width 0.5s ease-in-out;
    }

    a:hover::after {
        width: 100%;
    }

.button-header {
    font-family: 'Akira Expanded', sans-serif;
    color: darkred;
    text-decoration: none;
}
